.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.map
*.pid
*.svg
*.iml

build-output
build-ouput
buildOutput
tmp
perflog

Debug/*
Release/*
bin/
obj/

Snapshot/*

packages
.nuget

.idea
project
target
target/*

html/*
xml/*

*.opensdf
